body > * {
    padding-right: calc(33% - 6em);
    padding-left: calc(33% - 6em);
}

article footer a {
    border-width: 2px;
}

body > *:nth-child(odd) {
    background: #222;
    color: white;
}

body > *:nth-child(odd) header p {
    color: darkgray;
}

body > *:nth-child(odd) blockquote {
    border-left: 5px solid #fc5;
}

body > *:nth-child(odd) div a {
    color: #79f;
}

body > *:nth-child(odd) div a:hover {
    color: gray;
}

body > *:nth-child(odd) footer a {
    border-color: white;
}

body > *:nth-child(odd) footer a:hover {
    background-color: white;
    color: black;
}
